.left_nav {
    height: 100vh;
    position: fixed;
    left: 0;
    background-color: red;
    width: 100px;
}

.left_nav.hidden {
    left: -100px;
    transition: all 0.5s;
}

.password_display_toggle {
    cursor: pointer ;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}